*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  
  list-style: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #00B4D8;
  font-family: "Poppins", sans-serif;
  
}

.logo{
  color: rgb(226, 226, 226); 
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
.nav-links a{
  color: rgb(226, 226, 226); 
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,a:hover{
  border:1px solid white;
  transition: 0.5s; 
}
  *{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
  }
      
  .container{
     padding: 100px 40px;
     text-align: center;
     color: black;
    }
  .container p {
     max-width: 600px;
     margin: 40px auto;
     font-size: 15px;
     font-weight: 300;
     color: black;
    }
   .email-box{
     height: 40px;
     display: flex;
     justify-content: center;
     color: black;

    }
   .email-box i{
     background: black;
     width: 40px;
     line-height: 40px;
     color: white;
    }
   .tbox,.btn{
     border: none;
     outline: none;
     color: black;
    }
   .tbox{
     width: 0px;
     transition: 0.6s;
    }
    .email-box:hover > .tbox,.tbox:focus{
     width: 260px;
     padding: 0 10px;
     color: black;
    }
    .btn{
     background-color: black;
     color: black;
     padding: 0 10px;
     text-transform: uppercase;
     cursor: pointer;
    }

.inner-footer{
  margin: 100;
  padding: 100;
  background-color: aqua;
  text-align: center;
}

.social-links{
  display: flex;
}

.social-links ul{
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
}

.social-items{
  list-style: none;

}
.social-items a{
padding: 10px 20px;
font-size: 35px;
color: blue;
transition: all .25s;
}

.social-items a:hover{
  color:rgba(0, 0, 255, 0.801)
}